body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Helvetica, Geneva, Verdana, sans-serif;
    width: 100%;
} /* กำหนด ขอบทั่วไป 0= ไม่มีขอบ*/

.active a {
color:#614a19;
font-weight: 600;
}
.item a{
    color: #97600e;
}
.pad-0{
    padding: 0px 0px;

}
.col-md-12 a{
    font-size: 18px;
    font-weight: 700; 
    padding-left: 0px;
}

a{
    padding: 0px -15px;
    
}
.border-bot {
    border-bottom: 2px solid #ec9b20 !important;
    width: 400px;
    margin-right: 15px;
    margin-left: 15px;
  }
.col-md-12 {
    font-size: 18px;
    font-weight: 700;
    padding: 0px 0px ;
}
.col-md-11 {
    
    padding: 0px 0px ;
}
.col-md-6{   
    font-size: 18px;
    font-weight: 700;
    padding: 0px 0px ;
}
.col-md-5{   
    font-size: 16px;
    font-weight: 500;
    padding: 0px 0px ;
}
p{
    font-size: 14px;
    text-align:justify;
    font-weight: 500;
}
.breadcrumb  li{
    color: #8b492a;
    font-size: 18px;
    font-weight: 600;

}


.breadcrumb a:hover{
    color: #ec9b20;

}
.stripViewer  img {
width: 500px; 
height: 300px;
}
/*core classes*/
.stripViewer { 

max-width: 100%;
position: relative;
overflow: hidden; 
border: 5px solid #fcfcfc;  
margin: 0 0 1px 0;
padding-left: 0px;
}
.stripViewer ul { /* this is your UL of images */
margin: 0;
padding: 0;
position: relative;
left: 0;
top: 0;
width: 1%;
list-style-type: none;
}
.stripViewer ul li { 
float:left;
}
.stripTransmitter {
overflow: auto;
width: 1%;
}
.stripTransmitter ul {
margin: 0;
padding: 0;
position: relative;
list-style-type: none;
padding-left: 7px;
}
.stripTransmitter ul li{
width: 20px;
float:left;
margin: 0 1px 1px 0;
}
.stripTransmitter a{
font: bold 10px Verdana, Arial;
text-align: center;
line-height: 22px;
background: #97600e;
color: #fff;
text-decoration: none;
display: block;
}
.stripTransmitter a:hover, a.current{
background: #fff;
color: #97600e;
}

/*tooltips formatting*/
.tooltip
{
padding: 0.5em;
background: #fff;
color: #000;
border: 5px solid #dedede;
}
@media (max-width: 575.98px)and (max-width: 991.98px){
        .col-md-6{
        text-align: center;
    }
    .col-xs-12{
        text-align: left;
        margin-left: 15px;
    }
    .border-bot {
        border-bottom: 1px solid #007bff !important;
        width: 80%;
        margin-left: 35px;
      }
}
